:root{
    --white: #ddddddff;
    --black-soft: #35363aff;
    --black-dark: #202124ff;
    --green: #1e6604ff;
}

html
{
    /* Root Font Size (rem) */
    font-size: 12px;
}
body
{
    background-color: var(--black-soft);
    color: var(--white);
    font-family:  monospace, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


header
{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    justify-content: space-between;
    height: 10vh;
    margin-bottom: 5vh;
}
h1
{
    color:var(--white);
    text-align: center;
    padding-left: 15px;
}
.head-menu
{
    display: flex;
    gap: 15px;
    padding-right: 15px;
    text-decoration: underline;
}


.app-content
{
    border-radius: 5px;
    height: 80vh; /* 80 + header height and margin bottom == 95 */
    margin: auto;
    overflow: auto;
    width: 95vw;
}
.linear-gradient
{
    /*border-radius: 20px; it works with radius as well */
    -webkit-mask:
        linear-gradient(var(--black-dark) 0 0),
        /* fade only the padding area
        (in the opposite direction) */
        linear-gradient(transparent,var(--black-dark) 100vh) padding-box;
    -webkit-mask-composite: xor;
        mask-composite: exclude;
}
.subcontent
{
    background-clip: content-box;
    border: solid 2px var(--white); /* Same as .subtitle border */
    font-size: 1.8rem;
    margin: auto;
    margin-bottom: 3vh;
    padding: 0;
    width: 90vw;
}
.subtitle
{
    background-color: var(--black-dark);
    border-bottom: solid 2px var(--white);
    display: flex;
    margin: 0;
    padding: 2vw;
    justify-content: space-between;
}
.subtitle p
{
    margin: 0;
}
.arrow {
    border: solid var(--white);
    border-width: 0 0.6vw 0.6vw 0;
    display: inline-block;
    padding: 0.6vw;
}
.right {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}
.left {
transform: rotate(135deg);
-webkit-transform: rotate(135deg);
}
.up {
transform: rotate(-135deg);
-webkit-transform: rotate(-135deg);
}
.down {
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}

/* Tables to display in subcontent divs */
/* Collapse by default */
.tbox
{
    display: none;
    border: none;
    margin: 0;
    width: 100%;
}
/* Class to expand .tbox */
.expand
{
    display: block;
}
.tbox td
{
    border: none;
    padding: 2vh 2vw;
}
.tbox input
{
 font-size: 1em;
 width: 90%;
}
.tbox textarea
{
 font-size: 1em;
 width: 100%;
}
table
{
    border-collapse: collapse;
    margin: 0;
    width: 100%;
}
.td-item
{
    align-items: center;
    display: flex;
    gap: 5%;
}


/* Info specific styles */
.status
{
    border-radius:50%;
    background-color: white;
    display: inline-block;
    height: 3vh;
    width: 3vh;
}
.error
{
    background-color: #e34a33;
    border: white solid 2px;
}
.success
{
    background-color: #2ca25f;
    border: white solid 2px;
}


/* Search bar specific styles */
.search-bar
{
    display:flex;
    align-content: center;
    gap: 10px;
    margin-left: 2vw;
}
.search-results
{
    font-size: 1em;
    max-height: 100px;
    overflow: auto;
}


/* Inventario specific styles */
.freeze-table{
    height: 50vh;
    margin: auto;
    padding: 2vw;
    overflow: auto;
    width: 85vw;
}
.freeze-table input
{
    width: 10ch;
}
/* More than 2cm style (for column name) - No transparency */
.mt2cm-header
{
    background-color: #4e4e4eff;
}
.lt2cm-header
{
    background-color: #6b6b6bff;
}
/* More than 2cm style (for rows) */
.mt2cm
{
    background-color: rgba(160, 160, 160, 0.3);
}
/* Less than 2cm style (for rows) */
.lt2cm
{
    background-color: rgba(255, 255, 255, 0.3);
}

.more
{
    margin: 25px auto;
    text-align: center;
}

.selected
{
    background-color: aqua;
}

/* hide the up and down buttons in input type=number */
input[type="number"]
{
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

.block-div
{
    background-color: rgba(50,50,50,.8);
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100vw;
}
.float-box
{
    background-color: var(--black-dark);
    border: 2px solid var(--white);
    border-radius: 5px;
    font-size: 1.3em;
    height: 45vh;
    left: 25vw;
    padding: 5vh 5vw;
    position: absolute;
    top: 25vh;
    overflow: auto;
    width: 45vw;
    z-index: 5;
}
.saved-box p
{
    width: 100%;
}
.saved-box ul
{
    line-height: 2em;
    width: 100%;
}
.saved-box a {
    text-decoration: underline;
}
.picture-box
{
    overflow: hidden;
}
.img-preview {
    border: 2px dashed white;
    border-radius: 5px;
    height: 80%;
    margin: auto;
    width: 80%;
}
.img-preview img
{
    display: block;
    height: 100%;
    margin: auto;
    width: auto;
}
/* Perform input trick: hide an input element (transparent 100%) and put below
a 'fake' button. When the user taps the button the hide input will be clicked. */
div.fileinputs {
	position: relative;
    text-align: center;
    width: 50%;
}

div.fakefile {
	position: absolute;
	top: 0px;
    left: 0px;
    width: 100%;
	z-index: 1;
}

input.file {
	position: relative;
	opacity: 0;
    width: 100%;
	z-index: 2;
}

.fakefile button {
    padding: 3px 10px;
    background-color: var(--white);
    border-radius: 5px;
    border: none;
    appearance: none;
	text-decoration: none;
    color: var(--black-dark);
    font-weight: 400;
}