body
{
    background-color: rgb(43,43,43);
    color: white;
    font-family:  monospace, sans-serif;
    margin: 0;
}
/* Estilo de las cajas que componen el formulario */
.box
{
    margin: auto;
    width: 90%;
}
h1
{
    color:white;
    font-size: 2em;
    margin: 0;
    text-align: center;
}
table
{
    border-collapse: separate;

}
.freeze-container
{
    max-height: 200px;
    overflow: auto;
}
td, th
{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
/* freeze first row */
th {
    background-color: rgb(43,43,43);
    top: 0;
    position: sticky;
    z-index: 100;
}
.metadata
{
    border-collapse: collapse;
}
.metadata input
{
    max-width: 100%;
}
.especie
{
    margin: auto;
    overflow-x: scroll;
}
input
{
    width: 90%;
}
textarea
{
    width: 98%;
}
select
{
    width: 100%;
}
.inv
{
    border: 1px solid white;
    color: white;
}
.help
{
    border: 3px dash black;
}
/* More than 2cm style (for column name) - No transparency */
.mt2cm-header
{
    background-color: #4e4e4eff;
}
.lt2cm-header
{
    background-color: #6b6b6bff;
}
/* More than 2cm style (for rows) */
.mt2cm
{
    background-color: rgba(160, 160, 160, 0.3);
}
/* Less than 2cm style (for rows) */
.lt2cm
{
    background-color: rgba(255, 255, 255, 0.3);
}
.help-2cm-legend
{
    border-radius: 10%;
    display:inline-block;
    height: 20px;
    width: 20px;
}
.flex-td
{
    display:flex;
    align-items: center;
    gap: 10px;
}
.more
{
    margin: 25px auto;
    text-align: center;
}
.plus
{
    display: inline-block;
    margin: 0 auto;
    width: 200px;
    height: auto;
}
.selected
{
    background-color: aqua;
}
.status
{
    display: flex;
    gap: 5px;
    justify-content: center;
    margin: 15px auto;
    width: 90vw;
}
.indexeddb
{
    border-radius:50%;
    background-color: white;
    display: block;
    height: 20px;
    width: 20px;
}
.service-worker
{
    border-radius:50%;
    background-color: white;
    display: block;
    height: 20px;
    width: 20px;
}
.error
{
    background-color: #fc9272;
    border: white solid 2px;
}
.success
{
    background-color: #addd8e;
    border: white solid 2px;
}
.download
{
    float: right;
}
.download img
{
    width: 50px;
    height: auto;
}
/* hide the up and down buttons in input type=number */
input[type="number"]
{
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button
{ 
    -webkit-appearance: none; 
    margin: 0; 
}